.col-4 {
  display: inline-block;
  width: 40%;
  margin: 50px 20px 50px;
  vertical-align: top;
}

.grid {
  width: 800px;
  height: 500px;
  text-align: center;
  margin: 90px auto;
  border-color: antiquewhite;
  border-radius: 12px;
}

#img {
  height: 400px;
  width: auto;
  background-image: url(1.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  padding: 10px;
}

h1 {
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  color: slategray;
}

label {
  display: block;
  margin: 30px 10px;
  text-align: left;
  font-style: italic;
  font-weight: lighter;
}

input {
  border: none;
  border-bottom: 1px solid black;
  display: block;
  margin-top: 5px;
  font-size: 15px;
}
#agree {
  display: inline;
}

#button {
  text-align: left;
  margin: 40px 0 30px;
}
button {
  color: rgb(128, 126, 126);
  border: 1px solid rgb(199, 197, 197);
  border-radius: 40px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.underline {
  text-decoration: underline;

  text-decoration-color: slategray;
}
a {
  text-decoration: underline;
  color: slategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
